<%- include("./partials/header.ejs") %>
</nav>
   <h1 class="index">Service Index</h1>
   
      <%for(let i=0; i < allServices.length; i++){
         %>
         <fieldset>
         <a href="/services/<%=allServices[i].id %>"><%=allServices[i].service %></a>
         </fieldset>

         <fieldset>
         <form action="/services/<%=allServices[i].id%>?_method=DELETE" method="POST">
            <input class="delete" type="submit" value="DELETE"></form>
         </fieldset>
         <br>
    <%  } %>
    
        
  
            
   <%- include("./partials/footer.ejs") %>         
            
      