<%- include("./partials/header.ejs") %>
</nav>
         <h1>Show Service Page</h1>
            <fieldset>
            <h2>Service</h2>
               <p><%=singleService.service%></p>
            </fieldset>
            <fieldset>
            <h2>Description</h2>
               <p><%= singleService.description %></p>
            </fieldset>
            <fieldset>
            <h2>Price</h2>
               <p>Price: $<%= singleService.price %></p>
            </fieldset>
            <fieldset>
            <h2>Quantity</h2>
               <p><%= singleService.qty %></p>
            </fieldset>
            <br>
             <!-- <input type="button" value="Edit"/> -->
            <fieldset>
               <a href="/services/<%=singleService.id%>/edit">
                  <button class="editButton" >Edit</button></a>
            </fieldset>
              
      <!-- use &lt;% %&gt; for STATEMENTS
   and use &lt;%=  %&gy: for VALUES   -->
   
   <%- include("./partials/footer.ejs") %>