<%- include("./partials/header.ejs") %>
</nav>

   <ul class="Services">
         <div class="container">
            <h1><%=singleService.service %> </h1>
            <h2>Services</h2>
               <p><%= singleService.service %></p>
            <h2>Description</h2>
               <p><%= singleService.description %></p>
            <h2>Price</h2>
               <p>Price: $<%= singleService.price %></p>
            <h2>Quantity</h2>
               <p><%= singleService.qty %></p>
             <!-- <input type="button" value="Edit"/> -->
                  <a href="/services/<%=singleService.id%>/edit">
                     <button>Edit</button>
                  </a>
         </div>
   </ul>
      <!-- use &lt;% %&gt; for STATEMENTS
   and use &lt;%=  %&gy: for VALUES   -->

    
   
   <%- include("./partials/footer.ejs") %>